@model HomeViewModel
@{
    ViewBag.Title = " Product List";
}

<div class="page-header">
    <h1 class="page-title">
        Simple Store - @ViewBag.Title
    </h1>
</div>
<div class="row row-cards">
    <div class="col-lg-12">
        <div class="card">
            <table class="table card-table table-vcenter">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Sku
                        </th>
                        <th>
                            CreateBy
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prod in Model.Products)
                    {
                        <tr>
                            <td>
                                @prod.Name
                            </td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">@prod.Sku</td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">@prod.CreateBy</td>
                            <td class="text-right">
                                <strong>$@prod.Price</strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
