@model HomeViewModel


<div class="page-header">
    <h1 class="page-title">
        Simple Store
    </h1>
</div>
<div class="row row-cards">
    <div class="col-lg-12">
        <div class="card">
            <table class="table card-table table-vcenter">
                <tbody>
                    @foreach (var prod in Model.Products)
                    {
                        <tr>
                            <td>
                                @prod.Name
                            </td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">98 reviews</td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">38 offers</td>
                            <td class="text-right">
                                <strong>$@prod.Price</strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> 
 