
@using SimpleCommerce.Web.Models.Account

@model List<User>

@{
    Layout = null;
}
<div class="alert alert-primary">Find out that you didn't following anyone, here are some users for you</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Suggest Following</h3>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter">
            <thead>
                <tr>
                    <th colspan="2">User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><span class="avatar">@user.UserId.Substring(0, 2).ToUpper()</span></td>
                        <td>@user.UserName</td>
                        <td><a class="btn useraction follow" data-id="@user.UserId"><i class="fe fe-user-plus mr-2"></i> Follow</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

 