@{
    Layout = "_LayoutRoot";
}
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/">
                <img src='@Url.Content("/images/logo.jpg")' class="header-brand-img" alt="SimpleCommerce logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                @Html.Partial("_LoginPartial")
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>

<div class="my-3 my-md-5">
    <div class="container">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
}