@model SimpleCommerce.Web.Models.User
@{
    Layout = null;
 
}
 
<div class="dropdown">
    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
         <span class="avatar avatar-azure">@Model.UserName.Substring(0,2)<span class="avatar-status bg-green"></span></span>
    
        <span class="ml-2 d-none d-lg-block">
            <span class="text-default" id="username">@Model.Id</span>
            <small class="text-muted d-block mt-1"></small>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" id="signoutMenu"  href="#">
            <i class="dropdown-icon fe fe-log-out"></i> Sign out
        </a>
    </div>
</div>
<form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm"></form>